.order-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 100px;
}

.shop-image img{
    width: 100%;
}

.order-cart-container {
    background: rgba(255, 153, 0, 0.3);
    border-radius: 8px;
    width: 451px;
    margin-left: 51px;
    margin-right: 51px;
    height: 480px;
    margin: 0px auto;
    position: sticky;
    top: 0;
}

.shop-now-btn{
    background-color: #1C2B35;
    border: none;
    color: white;
    border-radius: 4px;
    width: 400px;
    padding: 12px 16px;
    font-weight: 400;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.shop-now-btn:hover {
    background-color: #FF9900;
    cursor: pointer;
    transition: 0.5s;
}

.checkout-btn {
    background-color: #FF9900;
    border: none;
    color: white;
    border-radius: 4px;
    width: 400px;
    padding: 12px 16px;
    font-weight: 400;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout-btn:hover {
    background-color: #1C2B35;
    cursor: pointer;
    transition: 0.5s;
}

.btn-title {
    font-size: 20px;
    font-weight: normal;
}

.btn-icon {
    width: 24px;
    height: 24px;
}


/* responsive tablet device*/
@media screen and (min-width: 577px) and (max-width: 991px) {
    .order-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        margin: 60px 0px;
    }

    .shop-image{
        width: 90%;
        margin: auto;
        margin-bottom: -100px;
        margin-top: -54px;
    }

    .order-cart-container {
        width: 70%;
        padding: 0px 24px;
    }

    .shop-now-btn{
        width: 100%;
    }

    .checkout-btn {
        width: 100%;
    }
}


/* responsive mobile device */
@media screen and (max-width: 576px) {
    .order-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        margin: 60px 0px;
    }

    .shop-image{
        width: 90%;
        margin: auto;
        margin-bottom: -70px;
        margin-top: -60px;
    }

    .order-cart-container {
        width: 80%;
        padding: 0px 24px;
    }
    
    .shop-now-btn{
        width: 100%;
    }

    .checkout-btn {
        width: 100%;
    }
}